@using Management_Hotel_2025.ViewModel

@{

    Layout = null;
}

@model Management_Hotel_2025.ViewModel.PaginatedResult<ViewRoomModel>

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <title>Danh sách phòng khách sạn Luxury</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/css/ViewListRoomCss.css" />
</head>
<body>
    <div class="lux-hotel-bg">

        @if (!User.IsInRole("Staff"))
        {
            <div class="lux-hotel-header">
                <h1>Danh sách phòng khách sạn</h1>
                <p>Trải nghiệm đẳng cấp với không gian sang trọng và dịch vụ tuyệt vời</p>
            </div>
        }
        
        <div class="lux-room-filter">
            <form id="lux-filter-form" asp-action="ViewListRoomVer2" asp-controller="ManagementRoom" method="get" style="display: flex; gap: 32px; align-items: center;">
                <label>
                    Trạng Thái:
                    <select  id="filter-floor" onchange="resetPageAndSubmit()">
                        <option value="">Tất cả</option>
                        <option value="1" selected="@(ViewBag.Floor == 1 ? "selected" : null)">Phòng Trống</option>            
                    </select>


                </label>
                <label>
                    Tầng:
                    <select name="Floor" id="filter-floor" onchange="resetPageAndSubmit()">
                        <option value="">Tất cả</option>
                        <option value="1" selected="@(ViewBag.Floor == 1 ? "selected" : null)">Tầng 1</option>
                        <option value="2" selected="@(ViewBag.Floor == 2 ? "selected" : null)">Tầng 2</option>
                        <option value="3" selected="@(ViewBag.Floor == 3 ? "selected" : null)">Tầng 3</option>
                        <option value="4" selected="@(ViewBag.Floor == 4 ? "selected" : null)">Tầng 4</option>
                        <option value="5" selected="@(ViewBag.Floor == 5 ? "selected" : null)">Tầng 5</option>
                        <option value="6" selected="@(ViewBag.Floor == 6 ? "selected" : null)">Tầng 6</option>
                        <option value="7" selected="@(ViewBag.Floor == 7 ? "selected" : null)">Tầng 7</option>
                        <option value="8" selected="@(ViewBag.Floor == 8 ? "selected" : null)">Tầng 8</option>
                    </select>
                </label>
                <label>
                    Giá từ:
                    <select name="PriceMin" id="filter-min-price" onchange="resetPageAndSubmit()">
                        <option value="">Giá Min</option>
                        <option value="500000" selected="@(ViewBag.PriceMin == 500000 ? "selected" : null)">500K</option>
                        <option value="800000" selected="@(ViewBag.PriceMin == 800000 ? "selected" : null)">800K</option>
                        <option value="1500000" selected="@(ViewBag.PriceMin == 1500000 ? "selected" : null)"> 1500K</option>
                        <option value="1800000" selected="@(ViewBag.PriceMin == 1800000 ? "selected" : null)"> 1800K</option>
                        <option value="2500000" selected="@(ViewBag.PriceMin == 2500000 ? "selected" : null)"> 2500K</option>
                    </select>
                    đến
                    <select name="PriceMax" id="filter-min-price" onchange="resetPageAndSubmit()">
                        <option value="">Giá Max</option>
                        <option value="3000000" selected="@(ViewBag.PriceMax == 3000000 ? "selected" : null)">3 Tr</option>
                        <option value="5000000" selected="@(ViewBag.PriceMax == 5000000 ? "selected" : null)">5 Tr</option>
                        <option value="10000000" selected="@(ViewBag.PriceMax == 10000000 ? "selected" : null)">10 Tr</option>
                    </select>
                </label>
                <label>
                    Ngày nhận
                    <input type="date" name="StartDate" id="filter-start-date"
                           value="@ViewBag.StartDate" />
                    Trả phòng
                    <input type="date" name="EndDate" id="filter-end-date"
                           value="@ViewBag.EndDate"
                           onchange="resetPageAndSubmit()" />
                </label>
                <label>
                    Số người/Phòng:
                    <select name="Person" id="filter-min-price" onchange="resetPageAndSubmit()">
                        <option value="">Tất Cả</option>
                        <option value="1" selected="@(ViewBag.Person == 1 ? "selected" : null)">Phòng 1 Người</option>
                        <option value="2" selected="@(ViewBag.Person == 2 ? "selected" : null)">Phòng 2 Người</option>
                        <option value="3" selected="@(ViewBag.Person == 3 ? "selected" : null)">Phòng 3 Người</option>
                        <option value="4" selected="@(ViewBag.Person == 4 ? "selected" : null)">Phòng 4 Người</option>
                    </select>
                </label>
                <input type="hidden" id="page-current" name="PageCurrent" value="@ViewBag.PageCurrent" />
                <input type="hidden" name="NumerItemOfPage" value="@ViewBag.NumerItemOfPage" />
                <button type="button" onclick="resetOption()">Đặt lại</button>
            </form>
        </div>
        <div class="lux-room-list">

            @if (ViewBag.StartDate == null || ViewBag.EndDate == null)
            {
                <div style="text-align:center; margin-top:20px;">
                    <p style="color:aliceblue">Vui lòng chọn ngày bạn nhận phòng và ngày trả phòng.</p>
                    <img src="https://www.hotel-scoop.com/wp-content/uploads/2018/07/Hilton-lobby-700x438.jpg" alt="Không có dữ liệu" style="max-width:1000px" />
                </div>
            }
            else
            {
                @foreach (var room in Model.Data)
                {
                    <div class="lux-room-card"
                         onmouseover="luxuryCardHover(this)" onmouseout="luxuryCardOut(this)">
                        <div class="lux-room-img-wrapper tall-img">
                            <img src="@room.Image" alt="@room.Name" class="lux-room-img" />
                            <span class="lux-badge">LUXURY</span>
                        </div>
                        <div class="lux-room-info small-desc">
                            <h2>@room.Name</h2>
                            <p class="lux-room-desc">@room.Description</p>

                            <div class="lux-room-bottom">
                                <span class="lux-room-price">
                                    @string.Format("{0:N0} VND", room.Price)
                                </span>
                                <a asp-action="ViewDetailRoomVer2"
                                   asp-controller="ManagementRoom"
                                   asp-route-idRoom="@room.IdRoom" class="lux-book-btn" target="_blank" style="text-decoration:none">
                                    Xem chi tiết
                                </a>
                            </div>
                        </div>
                        <div class="lux-glow"></div>
                    </div>
                }
            }



            @if (Model.Data == null || !Model.Data.Any())
            {
                <div style="text-align:center; margin-top:20px;">
                    <img src="~/image/NoneData.jpg" alt="Không có dữ liệu" style="max-width:500px;border-radius:210px" />
                    <p style="color:aliceblue">Ối Rồi Ôi không tìm thấy phòng phù hợp với bạn.</p>
                </div>
            }



        </div>
    </div>
    <div id="lux-modal" class="lux-modal">
        <div class="lux-modal-content">
            <span class="lux-modal-close" onclick="luxCloseModal()">&times;</span>
            <h2>Đặt phòng thành công!</h2>
            <p>Cảm ơn bạn đã chọn <span id="lux-modal-room"></span>.<br />Chúng tôi sẽ liên hệ với bạn sớm nhất.</p>
        </div>
    </div>

    <div class="pagination">
        @* button trước  *@
        @if (@Model.CurrentPage > 1)
        {
            <a asp-action="ViewListRoomVer2"
               asp-controller="ManagementRoom"
               asp-route-PageCurrent="@(Model.CurrentPage - 1)"
               asp-route-NumerItemOfPage="8"
               asp-route-Floor="@ViewBag.Floor"
               asp-route-PriceMin="@ViewBag.PriceMin"
               asp-route-PriceMax="@ViewBag.PriceMax"
               asp-route-Person="@ViewBag.Person"
               asp-route-StartDate="@ViewBag.StartDate"
               asp-route-EndDate="@ViewBag.EndDate">
                &laquo; Prev
            </a>
        }

        @* các trang  *@
        @for (int i = 1; i <= @Model.TotalPages; i++)
        {
            if (i == @Model.CurrentPage)
            {
                <a class="active" href="#">@i</a>
            }
            else
            {
                <a asp-action="ViewListRoomVer2"
                   asp-controller="ManagementRoom"
                   asp-route-PageCurrent="@i"
                   asp-route-NumerItemOfPage="8"
                   asp-route-Floor="@ViewBag.Floor"
                   asp-route-PriceMin="@ViewBag.PriceMin"
                   asp-route-PriceMax="@ViewBag.PriceMax"
                   asp-route-Person="@ViewBag.Person"
                   asp-route-StartDate="@ViewBag.StartDate"
                   asp-route-EndDate="@ViewBag.EndDate">
                    @i
                </a>
            }
        }

        @* button sau  *@
        @if (@Model.CurrentPage < @Model.TotalPages)
        {
            <a asp-action="ViewListRoomVer2"
               asp-controller="ManagementRoom"
               asp-route-PageCurrent="@(Model.CurrentPage + 1)"
               asp-route-NumerItemOfPage="8"
               asp-route-Floor="@ViewBag.Floor"
               asp-route-PriceMin="@ViewBag.PriceMin"
               asp-route-PriceMax="@ViewBag.PriceMax"
               asp-route-Person="@ViewBag.Person"
               asp-route-StartDate="@ViewBag.StartDate"
               asp-route-EndDate="@ViewBag.EndDate">
                Next &raquo;
            </a>
        }
    </div>

    <script src="~/js/ViewListRoom.js"></script>
    <script>
        function resetPageAndSubmit() {
            document.getElementById("page-current").value = 1; // reset về trang 1
            document.getElementById("lux-filter-form").submit();
        }

        function resetOption() {
            document.querySelector('[name="Floor"]').value = "";
            document.querySelector('[name="PriceMax"]').value = "";
            document.querySelector('[name="PriceMin"]').value = "";
            document.querySelector('[name="Person"]').value = "";
            document.querySelector('[name="StartDate"]').value = "";
            document.querySelector('[name="EndDate"]').value = "";
            document.getElementById("lux-filter-form").submit();
        }

    </script>
</body>
</html>